.student {
    max-width: 1280px;
    margin: 0 auto;
}

.student__wrapper {    
    padding: 90px 70px;
}

.student__info {
    display: flex;
    align-items: center;
    gap: 15vw;
    margin-top: 66px;
    margin-bottom: 100px;
}

.student__name {
    font-weight: 400;
    font-size: 50px;
    line-height: 58px;
    margin: 0 0 18px;
}

.student__about {
    font-weight: 500;
    font-size: 18px;
    line-height: 20px;
    margin: 0 0 26px;
}

.student__text {
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    margin: 0 0 100px;
}

.student__links {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.student__link {
    text-decoration: none;
    color: #000;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    transition: all 0.15s ease-in-out;
}

.student__link:hover {
    opacity: 0.7;
}

.student__img {
    max-width: 270px;
    max-height: 327px;
    border-radius: 10px;
}

.portfolio {
    list-style-type: none;
    padding: 0;
    margin: 0 0 50px;
}

.portfolio__title {
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
    color: #A0A0A0;
    padding-bottom: 20px;
}

.portfolio__link {
    text-decoration: none;
    color: #000;
    transition: all 0.15s ease-in-out;
    font-weight: 400;
    font-size: 30px;
    line-height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
    border-bottom: 1px solid #E8E8E8;
}

.portfolio__link:hover {
    opacity: 0.7;
}

.portfolio__arrow {
    height: 38px;
}



@media (max-width: 768px) {
    .student__wrapper {    
        padding: 90px 50px;
    }    

    .student__info {
        gap: 6vw;
        margin-bottom: 90px;
    }

    .student__name {
        font-size: 40px;
        line-height: 40px;
        margin: 0 0 16px;
    }

    .student__about {font-size: 12px;
        line-height: 18px;
        margin: 0 0 20px;
    }

    .student__text {
        font-size: 12px;
        line-height: 18px;
        margin: 0 0 87px;
    }

    .portfolio__link {
        font-size: 28px;
    }

}

@media (max-width: 550px) {
    .student__info {
        flex-direction: column-reverse;
        align-items: flex-start;
        gap: 40px;
        margin-bottom: 90px;
    }


}


@media (max-width: 450px) {
    .student__wrapper {    
        padding: 90px 20px;
    }  

    .student__info {
        margin-bottom: 70px;
    }

    .student__name {
        font-size: 30px;
        line-height: 36px;
        margin: 0 0 20px;
    }

    .student__about {
        font-size: 11px;
        line-height: 16px;
    }

    .student__text {
        font-size: 11px;
        line-height: 16px;
        margin: 0 0 40px;
    }

    .portfolio__title {
        font-size: 14px;
        line-height: 20px;
        padding-bottom: 20px;
    }

    .portfolio__link {
        font-size: 18px;
        line-height: 28px;
    }

    .portfolio__arrow {
        height: 20px;
    }
}