.heading {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 20px;
}

.heading__wrapper {
    max-width: 1200px;
    height: 493px;
    background: #F5F5F5;
    border-radius: 10px;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    padding-bottom: 30px;
}

.heading__title {
    font-weight: 400;
    font-size: 50px;
    line-height: 58px;
    max-width: 730px;
    text-align: center;
    margin: 0 auto 150px;
}

.heading__tabs {
    list-style-type: none;
    padding: 0;
    display: flex;
    gap: 10px;
}

.heading__tab {
    
}

@media (max-width: 768px) {
    .heading__wrapper {
        height: 836px;
    }

    .heading__title {
        font-size: 40px;
        line-height: 52px;
        margin: 0 auto 350px;
        padding: 0 20px;
    }
}

@media (max-width: 450px) {
    .heading {
        padding: 0 14px;
    }

    .heading__wrapper {
        height: 586px;
        padding-bottom: 17px;
    }

    .heading__title {
        font-size: 29px;
        line-height: 37px;
        margin: 0 auto 200px;
    }

    .heading__tabs {
        gap: 6px;
    }
}