.link_button {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    text-decoration: none;
    color: #000;
    transition: all 0.15s ease-in-out;
    border: none;
    background: none;
    cursor: pointer;
}

._active {
    font-weight: bold;
    pointer-events: none;
}

.link_button_red {
    color: #EE3465;
}

.link_button_green {
    color: #2BE080;
}

.link_button:hover {
    opacity: 0.7;
}

.link_button:disabled {
    opacity: 0.3;
    pointer-events: none;
}

@media (max-width: 400px) {
    .link_button {
        font-size: 12px;
    }
}