.input {
    position: relative;
    margin-bottom: 15px;
    height: 55px;
}

.input__field {
    font-family: 'Inter';
    font-size: 14px;
    line-height: 17px;
    outline: none;
    border: none;
    border-bottom: 1px solid #E8E8E8;
    height: 35px;  
    width: 100%;
    padding: 0;  
    background: transparent;
}

.input__field_ok {
    border-bottom: 1px solid #2BE080;
}

.input__field_error {
    border-bottom: 1px solid #ee3465;
}

.input__field:focus ~ .input__label, 
.input__field:not(:focus):valid ~ .input__label {
    bottom: 50px;
    font-size: 10px;
}

.input__field:not(:empty) ~ .input__label {
    bottom: 50px;
    font-size: 10px;
}

.input__label {
    transition: all 0.3s ease-in-out;
    position: absolute;
    font-size: 14px;
    line-height: 12px;
    color: #A0A0A0;
    left: 0;
    bottom: 30px;
    z-index: -1;
}

.input__error {
    font-size: 10px;
    color: #ee3465;
    margin-right: auto;
}