.tab {
    background-color: #E8E8E8;
    border-radius: 10px;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    padding: 21px 0;
    min-width: 90px;
    text-align: center;
}


@media (max-width: 768px) {
    .tab {
        font-size: 12px;
        line-height: 15px;
        padding: 21px 0;
        min-width: 80px;
    }
}